<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué à cause d'un nombre de tentative de connexion trop important.</p>

<p>Cliquez sur le lien si-dessou pour débloquer votre compte :</p>

<p><%= link_to 'Débloqué mon compte', unlock_url(@resource, unlock_token: @token) %></p>
